@model EmployeeApp.Models.Absensi

@{
    ViewData["Title"] = "Create Absensi";
}

<h1>Create Absensi</h1>

<h4>Absensi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DropDownList("Karyawan_Id", ViewBag.KaryawansSelectList as SelectList, "Pilih Karyawan", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Tanggal_Hadir" class="control-label"></label>
                <input asp-for="Tanggal_Hadir" class="form-control datepicker" type="date" />
                <span asp-validation-for="Tanggal_Hadir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
