@model EmployeeApp.Models.Absensi

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Absensi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Karyawan</label>
                <select value="" class="form-control" asp-for="Karyawan_Id">
                    <option>Pilih Karyawan</option>
                    @foreach (var karyawan in (IEnumerable<Karyawan>)ViewData["AllEmployee"])
                    {
                        <option value=@karyawan.Id>@karyawan.Nama</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Tanggal_Hadir" class="control-label"></label>
                <input asp-for="Tanggal_Hadir" class="form-control datepicker" type="date" />
                <span asp-validation-for="Tanggal_Hadir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
